:root {
  --text-color: aliceblue;
}

body {
  margin: 0;
  color: var(--text-color);
  font-size: 18px;
}

#background {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  max-width: 100%;
  position: fixed;
  z-index: -1;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

#studentList {
  margin: 5rem;
  border-spacing: 1rem;
}

#studentList tr {
  cursor: pointer;
}

.allButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem;
}

.allButtons button {
  padding: 0.5rem;
  padding-left: 1rem;
  font-size: 16px;
  text-align: left;
  background-color: dimgray;
  color: var(--text-color);
  border: 1.5px solid var(--text-color);
  width: 14rem;
  cursor: pointer;
  outline: none;
}

.allButtons button span:nth-of-type(2) {
  font-size: 11px;
  float: right;
  padding: 3px;
}

.allButtons button:hover {
  background-color: gray;
}

.button-dropdown {
  position: absolute;
  background-color: dimgray;
  display: flex;
  flex-direction: column;
  width: 12.8rem;
  border: 1.5px solid var(--text-color);
  border-top: none;
  padding: 0.5rem;
}

.button-dropdown p {
  margin: 0.5rem;
  cursor: pointer;
}

.button-dropdown p:hover {
  color: gray;
}

#search {
  text-align: center;
}

input[type="search"] {
  border: none;
  background: none;
  outline: none;
  border-bottom: 1.5px solid var(--text-color);
  width: 240px;
  transition: width 0.3s ease-out;
  font-size: 16px;
  text-align: center;
  color: var(--text-color);
  padding: 0.5rem;
}

input[type="search"]::placeholder {
  color: var(--text-color);
}

input[type="search"]:hover {
  width: 320px;
  transition: width 0.3s ease-out;
}

input[type="search"]:focus {
  width: 320px;
}

/* The code below removes X next to input data in Chrome */
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
/* End */

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 300px;
  padding: 1rem;
  background-color: gray;
  box-shadow: 0px 0px 6px 1px rgb(88, 88, 88);
  display: flex;
}

#modalButton {
  background: gray;
  border: none;
  box-shadow: 0px 0px 6px 1px rgb(88, 88, 88);
  width: 20rem;
  padding: 0.5rem;
  color: var(--text-color);
  font-size: 16px;
  margin-top: 1rem;
}

#modalButton:hover {
  background-color: rgb(122, 122, 122);
}

.modalLeft {
  width: 85%;
  display: flex;
  flex-direction: column;
}

.modalLeftTop {
  display: flex;
  height: 50%;
}

.modalRight {
  text-align: center;
}

.modalRight p {
  float: right;
  margin-top: -0.2rem;
  margin-right: 0.2rem;
  cursor: pointer;
}

.studentPhotoModal {
  max-height: 100%;
  height: 140px;
}

.crestImage {
  max-height: 75%;
  opacity: 0.5;
  margin-left: 1.2rem;
}

.modalLeft p {
  margin: 0.7rem;
}

.slytherin {
  background-color: #08331f;
}

.hufflepuff {
  background-color: #37260a;
}

.ravenclaw {
  background-color: #0b2b40;
}

.gryffindor {
  background-color: #3f182b;
}

.hidden {
  display: none;
}
